.container{
    display: flex;
    flex-direction: column;
    column-gap: normal;
    align-items: center;
}

.searchbox{
    margin:2rem 0rem;
    padding:1rem;
    width:35rem;
    border-radius: 20px; /* change the value as needed */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style:dotted;
    font-size: 1rem;
}

.submitbtn{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left:8rem;
    padding-right:8rem;
    background-color: #005b74;
    border-radius: 5px; /* change the value as needed */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}